  @keyframes fadeIn {
    0% {
      opacity : 0;
    }
    30%{
      opacity: 0;
    }
    100% {
      opacity : 1;
    }
  }
  .navbar{
    background-color: #ffffff;
  }
  .navbar-brand{ 
    padding: 0.5vmin;
  }
  #dangdang{
    transition: all 500ms ease-out 1ms;
  }
  .question .title h1{
    font-size:6vmin;
  }
  .subtitle h3{
    color:gray;
    font-size:2.8vmin;
  }
  .controller button{
    font-weight: bold;
    background-color: white;
    color: #D3335A;
    border: 2px solid #D3335A;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .controller button:hover{
    background-color: #D3335A;
    color: white;
  }
  .navbar{
    margin-bottom: 7%;
  }
  .answer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .answer button{
    margin:1%;
    border:2px solid #3C64B1;
    box-sizing: border-box;
    background:#FFFFFF;
    color: #3C64B1;
    font-weight: bold;
    font-size: 2vmin;
    padding: 1.5vmin;
  }
  .answer button:hover{
    background-color:#3C64B1;
    color: #FFFFFF;
  }
  .question{
    text-align: center;
  }
  .imgGroup{
    position:relative;
    margin-bottom: 10%;
  }
  .navbar-right .active a{
    color: #3C64B1;
  }
  .navbar-right li a{
    color: black;
    font-weight: bold;
  }
  nav{
    color: black;
  }
  .brand_flex{
    display: flex;
    flex-direction: column;
  }
  .progress{
    height: 10px;
    width: 100%;
    background-color: #B2ADAD;
    background-image: linear-gradient(#B2ADAD);
    background-image: linear-gradient(to bottom,#B2ADAD 0,#B2ADAD 100%);
  }
  .progress-bar{
    background: #0C0C0C;
  }
  .container-main{
    width: 80%;
    margin-top: 3rem;
  }
  html {
    position: relative;
    min-height: 100%;
  }
  footer {
    position: fixed;
    bottom: 0;
    height: 20vmin;
  }
  footer img{
    display: block; margin: 0px auto;
  }
  .navbar-nav li a:hover{
    color: #3C64B1;
  }
  .comment_input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #comment_textarea{
  resize: none; width: 100%; height: 100px; background-color: #fffefeaf; padding: 1.5vmin;
  }
  
  textarea::placeholder {
  color: #5B5A5A;
  font-weight: bold;
  font-size: 15px;
  }
  
  #button{
            display: flex;
            Justify-content: center;
            align-items: center;
            background: #3C64B1;
            width: 95px;
            height: 35px;
            color: #fff;  
            border: 1px solid #3C64B1;
            font-family: Mulish;
            font-size: 14px;
            margin-top: 10px ;
  }
  
  .comment_ranking{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px
  }
  
  .comment_info{
    display: flex;
  }
  
  .img_like{
    display: flex;
    font-family: Mulish; 
    font-weight: bold; 
    padding: 2px 3px ;
    align-items: flex-end;
  
  }
  .comment_and_like{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 10px 0px;
  }
  
  #like{
  width:40px; padding: 2px 3px; 
  }
  #unlike{
  width:40px; transform:rotate(180deg); padding: 2px 3px ;
  }
  #like_number{
  font-family: Mulish; font-weight: bold; padding: 2px 3px ; align-items: flex-end;
  }
  #unlike_number{
  font-family: Mulish; font-weight: bold; padding: 2px 3px; align-items: flex-end;
  }
  
  #delete_button{
    display: flex;
    float: center;
    Justify-content: center;
    align-items: center;
    background: #D3335A;
    width: 95px;
    height: 35px;
    color: #fff;  
    border: 1px solid #D3335A;
    font-family: Mulish;
    font-size: 14px;
    margin-top: 20px ;
  }